/* 
selector{
    property: value;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&family=Raleway:ital,wght@0,100;0,300;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
}

.text-color-blue {
    color: #2b3784;
}

.bg-color-blue {
    background: #2b3784;
}

.text-color-red {
    color: #b11313;
}

.bg-color-red {
    background: #b11313;
}

.text-color-gray {
    color: #2E2E30;
}

.bg-color-gray {
    background: #2E2E30;
}

.text-color-white {
    color: #FFF;
}

.bg-color-white {
    background: #FFF;
}

.parallax {
    background-image: url('../img/spidey-wallpaper.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: 100% 32%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Marvel', sans-serif;
    font-size: 140px;
}

p {
    font-family: Raleway;
}

header {
    text-align: center;
}

header nav {
    width: 100%;
}

header nav ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    padding: 10px 20px;
}

header nav ul li a {
    font-family: Raleway;
    text-decoration: none;
}

.container-heading {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    height: 100%;
    align-items: center;
    justify-content: center;
}


}
.container-heading p {
    font-family: Raleway;
    font-weight: 300;
    font-style: italic;
}
img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/* #idMainTitleAndUnique {} */
.multiple {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}